nav {
    background-color: #10465E;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 20px;
}

nav ul li {
    display: inline;
    padding: 30px;
}

nav ul li a {
    text-decoration: nome;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

@media only screen and (max-width: 475px) {
    nav ul li {
        padding: 15px;
        display: inline-block;
        padding: 5px;

    }

    nav ul li {
        padding: 0px;
    }
}
